<div class="card">
  <div class="card-header">
    <h3>IP: <%= @host['ip_str'] %></h3>
  </div>
  <div class="card-body">
    <p>Country: <%= @host['country_name'] || 'n/a' %></p>
    <p>City: <%= @host['city'] || 'n/a' %></p>
    <p>Organization: <%= @host['org'] || 'n/a' %></p>
    <p>Operating System: <%= @host['os'] || 'n/a' %></p>
    <% @host['data'].each do |item| %>
    	<div>
    		<br/>
    		Port: <%= item['port'] || 'n/a' %> <br/>
			Banner: <%= item['data'] || 'n/a' %> <br/>
		<div>
	<% end %>
  </div>
</div>


